{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/index.css" type="text/css">
{% endblock %}

{% block content %}


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#team">Team Members</a></li>
  <li><a href="#credits">Project Credits</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active fade in" id="team">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted">The true free spirits.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"><a href="http://docs.freespirits.apiary.io/#">Apiary Website</a></p>
                </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/paul.png" class="img-responsive img-circle" alt="" width="200">
                        <h4>Paul Bae</h4>
                        <p class="text-muted">Happy Hacker</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 55</a>
                            </li>
                            <li><a href="https://www.facebook.com/pybaej"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/pybae"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/menglin.png" class="img-responsive img-circle" alt="" width="200">
                        <h4>Menglin Brown</h4>
                        <p class="text-muted">Frontend Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 9</a>
                            </li>
                            <li><a href="https://www.facebook.com/FeeLynn.Rachael"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/menglinbrown"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/larry.jpg" class="img-responsive img-circle" alt="" width="200">
                        <h4>Larry Liu</h4>
                        <p class="text-muted">System Administrator</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 8</a>
                            </li>
                            <li><a href="https://www.facebook.com/larry.liu.3726"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/larryliu97"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/jin.png" class="img-responsive img-circle" alt="" width="200" height="200">
                        <h4>Jin Dong Tang</h4>
                        <p class="text-muted">Backend Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 15</a>
                            </li>
                            <li><a href="https://www.facebook.com/jindt"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/jindtang"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/Ali.jpg" class="img-responsive img-circle" alt="" width="200" height="200">
                        <h4>Ali Homafar</h4>
                        <p class="text-muted">Middle-end developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 6</a>
                            </li>
                            <li><a href="https://www.facebook.com/BabaBlackSheep"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/zane.png" class="img-responsive img-circle" alt="" width="200">
                        <h4>Zane Urbanski</h4>
                        <p class="text-muted"> Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#">Number of commits: 26</a>
                            </li>
                            <li><a href="https://www.facebook.com/zane.urbanski"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/zaneurbanski"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
  
    
    <div class="tab-pane fade" id="credits">
        
        <p>Github</p>
      <a href="https://github.com/zaneu/cs373-idb">
        <img src="../static/img/GitHub-Mark-Light-32px.png" alt="Project Github Repo">
      </a>
    </div>
</div>

<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>

{% endblock %}