{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/about.css" type="text/css">
{% endblock %}

{% block content %}


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#team">Team Members</a></li>
  <li><a href="#credits">Project Credits</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active fade in" id="team">
      <div class="container" id="teamcontainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted">The true free spirits.</h3>
                </div>
            </div>

            <br>
            <br>
                    <!-- Team Members Row -->
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/paul.png" alt="">
                <h3>Paul Bae
                    <small>Happy Hacker</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 55</a>
                    </li>
                    <li><a href="https://www.facebook.com/pybaej"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/pybae"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/menglin.png" alt="">
                <h3>Rachel Brown
                    <small>Front-end Dev</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 9</a>
                    </li>
                    <li><a href="https://www.facebook.com/FeeLynn.Rachael"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/menglinbrown"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/larry.png" alt="">
                <h3>Larry Liu
                    <small>System Administrator</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 8</a>
                    </li>
                    <li><a href="https://www.facebook.com/larry.liu.3726"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/larryliu97"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/jin.png" alt="">
                <h3>Jin Tang
                    <small>Back-end Developer</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 15</a>
                    </li>
                    <li><a href="https://www.facebook.com/jindt"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/jindtang"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/Ali.png" alt="">
                <h3>Ali Homafar
                    <small>Middle-end Developer</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 6</a>
                    </li>
                    <li><a href="https://www.facebook.com/BabaBlackSheep"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/zane.png" alt="">
                <h3>Zane Urbanski
                    <small>Developer</small>
                </h3>
                <ul class="list-inline social-buttons">
                    <li><a href="#">Number of commits: 26</a>
                    </li>
                    <li><a href="https://www.facebook.com/zane.urbanski"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/zaneurbanski"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    
        </div>
    </div>
    
    <div class="tab-pane fade" id="credits">
        <div class="container" id="teamcontainer">
        <div class="creditscontent" id="creditscontainer">
            <br>
        <t><a href="https://github.com/zaneu/cs373-idb">Github</a></t>
    <a href="https://github.com/zaneu/cs373-idb">
        <img src="../static/img/GitHub-Mark-Light-32px.png" alt="Project Github Repo">
      </a>
        <br>
        
            <t class="large"><a href="http://docs.freespirits.apiary.io/#">Apiary</a></t>
            <i class="fa fa-wrench"></i>

        </div>
    </div>
        </div>
</div>
</div>

<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>

{% endblock %}