{% extends "layout.html" %}

{% block title %}
  {{ drink.name }}
{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/drink.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center name">
        {{ drink.name }}
      </h1>

      <p class="text-center description">
        {{ drink.description }}
      </p>

      <br><br>
      <p class="text-center ingredients_title">
        Ingredients
      </p>
      <br>
      <p class="text-center ingredients">
        {% for ingredient in ingredients %}
          {{ quantities[loop.index - 1]|string + " " }}
          <a href="{{ url_for('ingredients', ingredient_id=ingredient.id) }}">
            {{ ingredient.name }}
          </a>
          <br>
        {% endfor %}
      </p>

      <br><br>
      <p class="text-center recipe_title">
        Recipe
      </p>
      <br>
      <p class="text-center recipe">
        {{ drink.recipe }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
