{% extends "layout.html" %}

{% block title %}
{{ drink.name }}
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/drink.css" type="text/css">
<script>
 var starred = false;
 if ("{{ starred }}" === "True") {
     starred = true;
 }
 var item_id = parseInt("{{ drink.id }}", 10);
 var user_id = parseInt("{{ user_id }}", 10);
 var star_count = parseInt("{{ drink.favorites }}");
 var item_type = "Drink";
</script>
<script src="../static/js/star-button.js"> </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if image != "" %}
            <img src={{ image }} width="50%">
        {% endif %}
        <h1>
            {{ drink.name }}
            {% if starred %}
            <button id="unstar-button" type="button" class="btn btn-warning btn-md">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Unstar | {{ drink.favorites }}
            </button>
            <button id="star-button" type="button" class="hidden btn btn-info btn-md">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                Star | {{ drink.favorites }}
            </button>
            {% else %}
            <button id="unstar-button" type="button" class="hidden btn btn-warning btn-md">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Unstar | {{ drink.favorites }}
            </button>
            <button id="star-button" type="button" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                Star | {{ drink.favorites }}
            </button>
            {% endif %}
        </h1>
        <p> {{ drink.description }} </p>
        <div style="margin-top: 50px" class="container">
            <div class="list-group col-lg-6">
                <a href="#" class="list-group-item active">
                    Ingredients
                </a>
                {% for ingredient in ingredients %}
                    <a href="{{ url_for('ingredient', ingredient_id=ingredient.id) }}" class="list-group-item">
                        <span class="badge"> {{ quantities[loop.index - 1] }} </span>
                        {{ ingredient.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <p> {{ drink.recipe }} </p>
            </div>
        </div>
        <p class="text-center">
            <a href="{{ '/api/drinks/' ~ drink.id }}" class="btn btn-primary btn-lg">Get the data</a>
        </p>
    </div>
</div>
{% endblock %}
