{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" href="../static/css/index.css" type="text/css">
<script>

 var array = [];

 {% for name in names %}
 array.push("{{ name }}".replace(/&amp;/g, '&'));
 {% endfor %}

 var names = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.whitespace,
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     local:  array
 });

 names.initialize();

</script>
<script src="../static/js/index.js"></script>
{% endblock %}

{% block content %}
<div id="indexPage" class="container vertical-center">
    <div class="col-lg-10 col-lg-offset-1" >
        <h1 class="logo text-center">Free Spirits</h1>
        <p class="intro-text text-center">Find a drink by ingredient or name</p>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input id="inputdata" type="text" class="form-control" placeholder="What would you like to drink today?" autocomplete="off" data-provide="typeahead">
                    <span class="input-group-btn">
                        <button id="searchBtn" class="btn btn-default" type="button" >Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    <div class="container">
        <p class="text-muted credit text-center">
            Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="{{ url_for('about') }}"> us </a>.
        </p>
    </div>
</div>
{% endblock %}
