{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/index.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container vertical-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="logo text-center">Free Spirits</h1>
      <p class="intro-text text-center">Find a drink by ingredient or name</p>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What would you like to drink today?">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
