{% extends "layout.html" %}

{% block title %}Pineapple{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/ingredient.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="../static/img/pineapple.jpg" name="aboutme" width="140" height="140" class="img-responsive center-block">
      <h1 class="text-center name">Pineapple</h1>
      <p class="text-center description">
        The pineapple (Ananas comosus) is a tropical plant with edible multiple fruit consisting of coalesced berries, and the most economically significant plant in the Bromeliaceae family. Pineapples may be cultivated from a crown cutting of the fruit, possibly flowering in 20–24 months and fruiting in the following six months. Pineapple does not ripen significantly post-harvest.
      </p>
    </div>
  </div>
</div>
{% endblock %}