{% extends "layout.html" %}

{% block title %}
{{ ingredient.name }}
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/ingredient.css" type="text/css">
<script>
 var starred = false;
 if ("{{ starred }}" === "True") {
     starred = true;
 }
 var item_id = parseInt("{{ ingredient.id }}", 10);
 var user_id = parseInt("{{ user_id }}", 10);
 var star_count = parseInt("{{ ingredient.favorites }}");
 var item_type = "Ingredient";
</script>
<script src="../static/js/star-button.js"> </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if image != "" %}
            <img src={{ image }} width="50%">
        {% endif %}
        <h1>
            {{ ingredient.name }}
            {% if starred %}
            <button id="unstar-button" type="button" class="btn btn-warning btn-md">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Unstar | {{ ingredient.favorites }}
            </button>
            <button id="star-button" type="button" class="hidden btn btn-info btn-md">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                Star | {{ ingredient.favorites }}
            </button>
            {% else %}
            <button id="unstar-button" type="button" class="hidden btn btn-warning btn-md">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Unstar | {{ ingredient.favorites }}
            </button>
            <button id="star-button" type="button" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                Star | {{ ingredient.favorites }}
            </button>
            {% endif %}
        </h1>
        <p> {{ ingredient.description }} </p>
        <div style="margin-top: 50px" class="container">
            <ul class="list-group col-lg-6">
                <li class="list-group-item list-group-item-info">
                    Nutrition
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.calories }} </span>
                    Calories
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.energy }} </span>
                    Energy
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.fats }} </span>
                    Fats
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.carbohydrates }} </span>
                    Carbohydrates
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.protein }} </span>
                    Protein
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.fiber }} </span>
                    Fiber
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.sugars }} </span>
                    Sugars
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.cholesterol }} </span>
                    Cholesterol
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.sodium }} </span>
                    Sodium
                </li>
                <li class="list-group-item">
                    <span class="badge"> {{ ingredient.alcohol }} </span>
                    Alcohol
                </li>
            </ul>

            <div class="list-group col-lg-6">
                <a href="#" class="list-group-item active">
                    Drinks that use this ingredient
                </a>

                {% for drink in drinks %}
                    <a href="{{ url_for('drink', drink_id=drink.id) }}" class="list-group-item">
                        {{ drink.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <p class="text-center">
            <a href="{{ '/api/ingredients/' ~ ingredient.id }}" class="btn btn-primary btn-lg">Get the data</a>
        </p>
    </div>
</div>
{% endblock %}
