{% extends "layout.html" %}

{% block title %}
  {{ ingredient.name }}
{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/ingredient.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center name">
        {{ ingredient.name }}
      </h1>

      <p class="text-center description">
        {{ ingredient.description }}
      </p>

      <br><br>
      <p class="text-center drinks_title">
        Drinks
      </p>
      <br>
      <p class="text-center drinks">
        {% for drink in drinks %}
          <a href="{{ url_for('drinks') + drink.id|string }}">
            {{ drink.name }}
          </a>
          <br>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock %}