{% extends "layout.html" %}

{% block title %}Ingredients{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/listing.css" type="text/css">
{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="col-sm-1">1</td>
    <td class="col-lg-5">
      <a href="{{ url_for('ingredients', ingredient='ingred1') }}">Vodka</a>
    </td>
    <td>$25.00</td>
  </tr>
  <tr>
    <td class="col-sm-1">2</td>
    <td class="col-lg-5">
      <a href="{{ url_for('ingredients', ingredient='ingred2') }}">Red Bull</a>
    </td>
    <td>$2.00</td>
  </tr>
  <tr>
    <td class="col-sm-1">3</td>
    <td class="col-lg-5">
      <a href="{{ url_for('ingredients', ingredient='ingred3') }}">Pineapple</a>
    </td>
    <td>$6.00</td>
  </tr>
</tbody>
</table>
{% endblock %}