{% extends "layout.html" %}

{% block title %}Vodka{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/ingredient.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="../static/img/red_bull.png" name="aboutme" width="140" height="140" class="img-responsive center-block">
      <h1 class="text-center name">Red Bull</h1>
      <p class="text-center description">
        Red Bull is an energy drink sold by Austrian company Red Bull GmbH, created in 1987. In terms of market share, Red Bull is the highest selling energy drink in the world, with 5.387 billion cans sold in 2013.
      </p>
    </div>
  </div>
</div>
{% endblock %}