{% extends "layout.html" %}

{% block title %}Zane Urbanski{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/user.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="../static/img/zane-urbanski.jpg" name="aboutme" width="140" height="140" class="img-circle img-responsive center-block">
      <h1 class="text-center name">Zane Urbanski</h1>
      <p class="text-center location-description">
        <i class="fa fa-map-marker"></i> San Antonio, Texas
      </p>
      <div id="favorites">
        <p class="text-center">Favorites:</p>
        <p class="text-center">Heineken</p>
        <p class="text-center">Bloody Marry</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}