/* This is used for the navbar */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

#current_user_dropdown {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.navbar-form {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav {
	font-size: 20px;
}

.dropdown-menu li a {
    font-size: 20px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -5vh;
  /* Pad bottom by footer height */
  padding: 0 0 5vh;
}

/* Set the fixed height of the footer here */
#footer {
  height: 5v;
}