/* The css file for all of the user profile pages */
@import url("base.css");

.name {
    font-size: 60px;
}

.description {
    font-size: 20px;
	opacity: 0.6;
}

.ingredients_title {
    font-size: 40px;
}

.ingredients {
    font-size: 20px;
    opacity: 0.6;
}

.recipe_title {
    font-size: 40px;
}

.recipe {
    font-size: 20px;
    opacity: 0.6;
}
